.pokemon-card {
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: #333;
  text-align: center;
  min-width: 150px;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.pokemon-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.pokemon-name {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 10px;
}

.pokemon-info {
  font-size: 0.9em;
  margin: 5px 0;
}

.pokemon-measure {
  padding-top: 10px;
}

.type-badge {
  display: inline-block;
  padding: 5px 10px;
  margin: 2px;
  border-radius: 10px;
  font-size: 0.9em;
  font-weight: bold;
  color: black;
  text-transform: capitalize;
}

.stats-container {
  position: absolute;
  bottom: -100%;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.9);
  padding: 10px;
  border-radius: 0 0 15px 15px;
  transition: bottom 0.3s ease;
}

.pokemon-card:hover .stats-container {
  bottom: 0;
}

.stat-item {
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
}

.stat-name {
  font-weight: bold;
  text-transform: uppercase;
}

.stat-value {
  font-weight: bold;
  color: #555;
}

/* Colores de tipo pastel */
.type-fire {
  background-color: rgba(255, 69, 0, 0.1);
}
.type-water {
  background-color: rgba(0, 191, 255, 0.1);
}
.type-grass {
  background-color: rgba(50, 205, 50, 0.1);
}
.type-electric {
  background-color: rgba(255, 255, 0, 0.1);
}
.type-psychic {
  background-color: rgba(255, 105, 180, 0.1);
}
.type-ice {
  background-color: rgba(173, 216, 230, 0.1);
}
.type-dragon {
  background-color: rgba(72, 61, 139, 0.1);
}
.type-dark {
  background-color: rgba(47, 79, 79, 0.1);
}
.type-fairy {
  background-color: rgba(255, 182, 193, 0.1);
}
.type-normal {
  background-color: rgba(211, 211, 211, 0.1);
}
.type-fighting {
  background-color: rgba(139, 69, 19, 0.1);
}
.type-flying {
  background-color: rgba(135, 206, 250, 0.1);
}
.type-poison {
  background-color: rgba(148, 0, 211, 0.1);
}
.type-ground {
  background-color: rgba(210, 180, 140, 0.1);
}
.type-rock {
  background-color: rgba(160, 82, 45, 0.1);
}
.type-bug {
  background-color: rgba(154, 205, 50, 0.1);
}
.type-ghost {
  background-color: rgba(75, 0, 130, 0.1);
}
.type-steel {
  background-color: rgba(169, 169, 169, 0.1);
}
